:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --white: hsl(0, 0%, 100%);
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line-clr: hsl(215, 32%, 27%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  background-color: var(--main-bg);
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 1.2em;
  width: min(90%, 21.5rem);
  border-radius: 0.8rem;
  background-color: var(--card-bg);
  box-shadow: 0 0 3px var(--line-clr);
}

.card__img {
  width: 100%;
  border-radius: 0.4rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.card__img::before {
  content: " ";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 3rem;
  height: 3rem;
  background-image: url(../images/icon-view.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(50%, -50%);
  z-index: 100;
}

.card__img::after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  width: 100%;
  background-color: var(--cyan);
  border-radius: 0.4rem;
  z-index: 90;
}

.card__img::after,
.card__img::before {
  opacity: 0;
  transition: opacity 500ms linear;
}

.card__img:hover::after {
  opacity: 0.5;
}

.card__img:hover::before {
  opacity: 1;
}

.card__img img {
  width: 100%;
  height: 100%;
  display: block;
}

.card__title {
  margin-top: 1.2em;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 500ms linear;
  cursor: pointer;
}

.card__title:hover {
  color: var(--cyan);
}

.card__describe {
  margin-block: 1em;
  color: var(--Soft-blue);
}

.card__status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8em;
  padding-bottom: 1.2em;
  border-bottom: 1px solid var(--line-clr);
}

.card__status .coin,
.card__status .time {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}

.coin {
  font-weight: bold;
  color: var(--cyan);
}

.time {
  color: var(--Soft-blue);
}

.coin img,
.time img {
  width: auto;
  height: auto;
}

.card__author {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.author__img {
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.author__about {
  color: var(--Soft-blue);
}

.author__name {
  color: var(--white);
  transition: color 500ms linear;
  cursor: pointer;
}

.author__name:hover {
  color: var(--cyan);
}
